@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonLogin{
  background: linear-gradient(212.09deg, #F58426 0.9%, #192527 100%), #009CDE;
  border-radius: 5px;
  color: #FFE9E9 !important;
}

.buttonBack{
  background: linear-gradient(218.13deg, #FFFFFF 0.9%, #FFFFFF 100%), #009CDE;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
  box-sizing: border-box;
  border-radius: 5px;
  color: #C2691C !important;
}

.status{
  width: 180px;
  height: 104px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}